build --spawn_strategy=local
build --strategy=CcCmakeMakeRule=local
build --jobs=2
build --local_resources=memory=16384
build --action_env=PATH=/home/you/.cargo/bin:/home/you/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin:/snap/bin
